/* FONDO */
@keyframes fondo {
    0% {background-position: 0%}
    50% {background-position: 100%}
    100% {background-position: 0%}
}

.inicio {
    animation: fondo 10s ease infinite;
}

/* FLOTAR */
@keyframes flotar {
    0%,100% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
}

.card-inicio {
    animation: flotar 3s ease-in-out infinite;
}

/* TITULO */
@keyframes glitch {
    0% {transform: translate(0);}
    25% {transform: translate(2px, -2px);}
    50% {transform: translate(-2px, 2px);}
    75% {transform: translate(2px, 2px);}
    100% {transform: translate(0);}
}

.titulo {
    animation: glitch 1.5s infinite;
}
