body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5a189a, #9d4edd, #c77dff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

/* ocultar pantallas */
.oculto {
    display: none;
}

/* tarjeta */
.pantalla {
    width: 90%;
    max-width: 420px;
    padding: 30px;
    background: rgba(30, 10, 60, 0.9);
    border-radius: 15px;
    text-align: center;
    animation: aparecer 0.5s ease;
}

/* animación entrada */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* animación cambio pregunta */
.cambio {
    animation: zoom 0.3s;
}

@keyframes zoom {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    background: #7b2cbf;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #5a189a;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#opciones button {
    background: #c77dff;
}

.correcto {
    background: #38b000;
}

.incorrecto {
    background: #d00000;
}