body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #14052c, #3c096c, #5a189a);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Tarjeta centrada */
.pantalla {
    width: 90%;
    max-width: 420px;
    padding: 30px;
    background: rgba(42, 10, 74, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    text-align: center;

    animation: aparecer 0.5s ease;
}

/* Animación */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

h1, h2 {
    margin-bottom: 20px;
}

/* Botones */
button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background: #7b2cbf;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #5a189a;
    transform: scale(1.03);
}

button:active {
    transform: scale(0.95);
}

/* Opciones */
#opciones button {
    background: #9d4edd;
}

/* Correcto / incorrecto */
.correcto {
    background: #38b000;
}

.incorrecto {
    background: #d00000;
}

p {
    margin: 6px 0;
}

span {
    font-weight: bold;
}